{
    "presets": ["@babel/preset-env"],
    "plugins":[
        ["@babel/transform-runtime",{
            "regenerator":true
        }] //cmd to install  - npm i @babel/plugin-transform-runtime -- Its working without plugins too
    ]
}